.button {
    width: 300px;
    border: solid;
    border-radius: 12px;
    padding: 30px;
    
}
.button:hover {
    background-color: black;
    color: white;
}

.logoutBtn {
    border: solid black;
    border-radius: 12px;
}
.logoutBtn:hover {
    background-color: red;
    color: white;
}

.mainButtonContainer {
    height: 300px;
}