.button {
    width: 300px;
    border: solid;
    border-radius: 12px;
    padding: 30px;
    color: white;
    background: rgba(0, 0, 0, 0.548);
}
.button:hover {
    background-color: black;
    color: white;
}

.logoutBtn {
    color: white;
    border: solid white;
    border-radius: 12px;
    background-color: rgba(255, 0, 0, 0.479);
}
.logoutBtn:hover {
    background-color: red;
    color: white;
}

.mainButtonContainer {
    height: 300px;
}