
.username-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.password-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.container-fluid{
    text-align: center;
    padding: 40px;
    
}

.box1{
    box-sizing: border-box;
    border: 5px solid rgb(221, 211, 211);
}


