.form-group{
    text-align: center;
    display: inline-block;
    
}

.form-control{
    text-align: center;
    display: inline-block;
    border: 1px solid black;
}

.container-fluid{
    text-align: center;
    padding: 30px;
    
}